*{
  box-sizing: border-box;
}

html, body {
  margin:0;
  padding:0;
  width:100%;
  height:100%;
}

.hintergrund{
  display: block;
  position: absolute;
  z-index: -10;
  margin-top: 0;
  width: 100%;
  height:300px;
  }

  header{
    margin-top: 0;
    padding: 0;
    position: absolute;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
  }

  .logo{
  display: block;
  width:50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 0;
  padding: 0;
  }

ul{
  padding-left: 0;
}
  li{
    display: inline-block;
    list-style-type: none;
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;
    font-family: 'Poiret One', Arial;
    font-size: 15pt;
  }
  nav{
    /*background: rgb(244, 231, 197);*/
    background: rgb(173, 65, 7);
    margin-top: 300px;
    padding: 0;
    position: absolute;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    }
    a{
      color: black;
    }

  a:link{
    color: black;
    text-decoration: none;
  }
  nav a{
    color: white;
    text-decoration: none;
  }
  nav a:link{
    text-decoration: none;
    color: white;
  }
  nav a:hover{
    color: black;
    text-decoration: none;
  }
  a:hover{
    color: rgb(173, 65, 7);
  }
.content{
  margin-top: 400px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  position: absolute;
  z-index: 1;
}
h2{
  font-family: 'Poiret One', Arial;
  font-size: 20pt;
  text-align: center;
}
h3{
  font-family: 'Poiret One', Arial;
  font-size: 16pt;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 0px;
}
h4{
  font-family: 'Raleway', Arial;
  font-size: 13pt;
  text-align: center;
  margin-bottom: 70px;
}
.text{
  margin-left: 330px;
  float: left;
  width: 35%;
  font-family: 'Raleway', Arial;
  font-size: 13pt;
  margin-top: 100px;
}
.lehrtext{
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  font-family: 'Raleway', Arial;
  font-size: 13pt;
  margin-top: 100px;
}
.objekttext{
  margin-left: 18%;
  float: left;
  width: 70%;
  font-family: 'Raleway', Arial;
  font-size: 10pt;
  margin-top: 0;
}
.mitgliedslogo{
  float: right;
  margin-right: 21%;
  width: 150px;
  margin-top: 382px;
}
.minibild2{
  width: 100px;
  padding-top: 20px;
}
.textleben{
  margin-left: 50px;
  margin-right: 100px;
  font-family: 'Raleway', Arial;
  font-size: 13pt;
  margin-top: 100px;
  float: right;
  display: block;
  width: 40%;
}
.anke{
  float: left;
  display: block;
  width: 37%;
  margin-left: 100px;
  margin-top: 100px;
  margin-bottom: 50px;
}
.anke img{
  width: 100%;
}
.datum{
  padding-right: 20px;
  text-align: left;
}
table{
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 13pt;
}
td{
  padding-bottom: 15px;
}
figcaption {
  text-align: center;
  font-size: 10pt;
  font-family: 'Raleway', sans-serif;
  color: white;
  background: rgb(173, 65, 7);
  padding: 15px;
  margin-top: 0;
}
figure{
  margin-left: 0;
  margin-right: 0;
}
.projektuebersicht{
  margin-top: 70px;
  display:inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}
.einzelprojekt{
  width: 228px;
}
/* fürs tablet breit*/
@media (max-width: 1110px) {
.mitgliedslogo{
  width: 90px;
  margin-right: 19%;
  margin-top: 386px;
}
.minibild2{
  width: 90px;
  padding-top: 30px;
}
.text{
  margin-left: 250px;
  width:45%;
}
.textleben{
  width:35%;
  font-size: 11pt;
}
}
/* fürs tablet */
@media (max-width: 1000px) {
.li{
  font-size: 13pt;
}
.logo{
  width: 65%;
}
.text{
  margin-left: 200px;
}
.textleben{
  clear: both;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  display: block;
  float: none;
}
.anke{
  width: 100%;
  clear:both;
  float:none;
  margin-left: 0;
  margin-right: 0;
}
.anke img{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 60%;
}
/* fürs kleine tablet */
@media (max-width: 880px) {
.li{
  padding: 13px;
  padding-top: 0;
  padding-bottom: 0;
}
.logo{
  width: 70%;
}
.text{
  margin-left: 100px;
}
}
/* fürs Smatphone */
@media (max-width: 650px) {
.logo{
  width: 97%;
  }
.li{
  display: block;
  padding-bottom: 7px;
  padding-top: 7px;
  font-size: 17pt;
}
.content{
  margin-top: 650px;
}
.text{
  margin-left: 50px;
  width: 70%;
}
.mitgliedslogo{
  width: 60px;
  margin-right: 20px;
  margin-top: 395px;
}
.minibild2{
  width: 60px;
  padding-top: 20px;
}
.textleben{
  width: 80%;
}
.anke img{
  width: 80%;
}
}
/*fürs schmale Smartphone*/
@media (max-width: 476px) {
  .logo{
    margin-top: 50px;
  }
  .text{
    margin-left: 30px;
    font-size: 11pt;
    width: 65%;
  }

  .mitgliedslogo{
    margin-top: 352px;
  }
  .textleben{
    width: 90%;
  }
  .anke img{
    width: 90%;
  }
  table{
    font-size: 11pt;
  }
}
/*fürs schmalere Smartphone*/
@media (max-width: 376px) {
  .hintergrund{
    height: 200px;
  }
  nav{
    margin-top: 200px;
  }
  .logo{
    margin-top: 20px;
  }
  .text{
    margin-left: 20px;
    font-size: 9.5pt;
  }
  .content{
    margin-top: 500px;
  }
  .mitgliedslogo{
    margin-top: 300px;
  }
  .textleben{
    font-size: 9.5pt;
  }
  table{
    font-size: 9.5pt;
  }
}
/* Slideshow container */
/*.slideshow-container{
  max-width: 815px;
  margin: auto;
  position:relative;
}
/* Next & previous buttons */
/*.prev, .next{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(237,237,237);
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
/* Position the "next button" to the right */
/*.next{
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
/*.prev:hover, .next:hover{
  color: rgb(173, 65, 7);
}

/* Fading animation */
/*.fade{
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*  .hirsch{
    padding-top: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 370px;

  } */
}
/* Slideshow container */
.slideshow-container {
  max-width: 850px;
  position: relative;
  margin: auto;
}
.slideshow-container1 {
  max-width: 550px;
  position: relative;
  margin: auto;
}
.slideshow-container2 {
  max-width: 360px;
  position: relative;
  margin: auto;
}
.slideshow-container3 {
  max-width: 450px;
  position: relative;
  margin: auto;
}
.slideshow-container4 {
  max-width: 750px;
  position: relative;
  margin: auto;
}
.slideshow-container5 {
  max-width: 400px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(200,200,200);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
/*.prev:hover, .next:hover {
  background-color: rgb(50,50,50,0.5);
}*/

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
